:root {
	--bg: #282828;
	--fg: #ebdbb2;
	--accent: #fabd2f;
	--error: #fb4934;
	--warning: #fabd2f;
	--border: #282828;
	--heading: #b8bb26;
	font-size: 18px;
	--transition-duration: 0.3s;
}
body {
	background-color: var(--bg);
	color: var(--fg);
	display: flex;
	justify-content: center;
}
.container {
	max-width: 800px;
	width: 100%;
	padding: 1.5rem;
}
h1 {
	color: var(--heading);
}
table {
	border-collapse: separate;
	border-spacing: 0;
	width: 100%;
	overflow: hidden;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	background-color: var(--bg);
	table-layout: fixed;
}
th {
	background-color: var(--border);
	color: var(--fg);
	padding: 12px;
	text-align: left;
	border-bottom: none;
}
th:first-child {
	width: 30%;
}
th:nth-child(2) {
	width: 20%;
}
th:nth-child(3),
th:nth-child(4),
th:nth-child(5),
th:nth-child(6),
th:nth-child(7) {
	width: 10%;
}
td {
	padding: 12px;
	border-bottom: none;
}
tr:last-child td {
	border-bottom: none;
}
.row-error {
	background-color: var(--error);
	color: var(--bg);
	transition: background-color var(--transition-duration), color
		var(--transition-duration); /* Add transition */
}
.row-warning {
	background-color: var(--warning);
	color: var(--bg);
	transition: background-color var(--transition-duration), color
		var(--transition-duration); /* Add transition */
}
.row-draining {
	background-color: #928374;
	color: var(--bg);
	transition: background-color var(--transition-duration), color
		var(--transition-duration); /* Add transition */
}
.row-active {
	background-color: var(--warning);
	color: var(--bg);
	transition: background-color var(--transition-duration), color
		var(--transition-duration); /* Add transition */
}
.row-mismatch {
	background-color: #8ec07c;
	color: var(--bg);
	transition: background-color var(--transition-duration), color
		var(--transition-duration); /* Add transition */
}
.bold {
	font-weight: bold;
}
.error {
	color: var(--error);
}
h1::after {
	content: "...";
	display: inline-block;
	margin-left: 10px;
	font-size: 1.5rem;
	color: var(--accent);
	visibility: hidden;
	animation: blink 1.5s infinite;
}
h1.loading::after {
	visibility: visible;
}
@keyframes blink {
	0%,
	20% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
